# requirements.txt
torch
torchvision
psutil
timm                       # For efficient vision models
sentence-transformers      # For powerful text embeddings
faiss-cpu                  # For the RAG vector library
pandas
scikit-learn
tqdm
customtkinter
PyMuPDF
fitz
transformers
datasets
sentence-transformers
accelerate